:root {
  --tile-size: 75px;
  --knight-size: calc(var(--tile-size) - 15px);
}

html {
  height: 100%;
}

html,
body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.board {
  position: relative;
  display: grid;
  grid-template-rows: repeat(8, 1fr);
  border: 1px solid black;
}

.tile {
  border: 1px solid black;
  width: var(--tile-size);
  height: var(--tile-size);
  cursor: pointer;
}

.knight {
  position: absolute;
  height: var(--knight-size);
  width: var(--knight-size);
  background-image: url("./knight.png");
  background-size: cover;
  opacity: 0;
  z-index: 2;
  transition-duration: 1s;
  transition-property: transform;
  transform: translate(0px, 0px);
  border: solid 1px greenyellow;
}

.tile.black {
  background-color: #282828;
}

.tile.path {
  background-color: rgb(255, 87, 87);
}

.tile:hover {
  border-color: greenyellow;
  box-shadow: 0 0 0 2px greenyellow;
  z-index: 1;
}

.row {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
}

.numCol,
.numRow {
  position: absolute;
  display: grid;
}

.numRow {
  grid-template-rows: repeat(8, 1fr);
  right: -25px;
}

.numCol {
  grid-template-columns: repeat(8, 1fr);
  bottom: -25px;
}

.numRow > .num {
  height: var(--tile-size);
  align-items: center;
}

.numCol > .num {
  width: var(--tile-size);
  justify-content: center;
}

.num {
  display: flex;
  border: 1px solid transparent;
}

.btnPanel {
  display: flex;
  margin-top: 48px;
  gap: 16px;
}
